version: '3.9'

services:
  api:
    build:
      context: .
      target: development
    command: sh -c "npx prisma db push && npm run start:dev"
    working_dir: /app
    ports:
      - "8000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: development
      PORT: 3000
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db
    networks:
      - stock-default

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: api
      PGDATA: /var/lib/postgresql/data/pg_data
    ports:
      - "6432:5432"
    volumes:
      - database:/var/lib/postgresql/data/pg_data
    networks:
      - stock-default

networks:
  stock-default:
    driver: bridge

volumes:
  database: